{% extends "Base_es.html" %}

{% block content %}
	<main class="row" style="position: center">
		<div class="container">
		<h1 style="color: white">Información de Contacto</h1>
		</div>
		<div class="container">
		<h5 style="color: white">Comuníquese conmigo para cualquier pregunta o idea que desee desarrollar, con gusto lo ayudaré a hacerla realidad.</h5>
		</div>
		<div class="col-lg-6" style="padding: 3.5rem">
        <svg class="bd-placeholder-img rounded-circle" width="150" height="150" style="background-image: url('static/images/cell.png'); background-repeat: no-repeat;"  focusable="false"><title>Placeholder</title></svg>
        <h2 style="color: white">número celular</h2>
        <p>+573127270762</p>
		</div>
		<div class="col-lg-6" style="padding: 3.5rem">
        <svg class="bd-placeholder-img rounded-circle" width="220" height="150" style="background-image: url('static/images/mail.png')"  focusable="false"><title>Placeholder</title></svg>
        <h2 style="color: white">E-mail</h2>
        <p>richardquito1992@hotmail.com</p>
		<p>nosequecua@gmail.com</p>
      </div>
	</main>
{% endblock %}