{% extends "Base_en.html" %}

{% block content %}
	<main class="row" style="margin: auto">
		<div class="col-lg-6" style="text-align: center;">
        <svg class="bd-placeholder-img rounded-circle center" width="250" height="250" style="background-image: url('static/images/DSC05329.jpg'); background-size: 350px 255px; background-position: center; background-repeat: no-repeat"  focusable="false"><title>Placeholder</title></svg>
        </div>
		<div class="col-lg-6" style="text-align: center;">
		<h2 style="color: white">Info</h2>
        <p>
		Hello my name is Richard Gomez i'm a Colombian mechanical engineer 
		with a specialization in automation of industrial processes,
		also i have been a coder since 2009 my experience is focused on 
		engineering projects, basically in making software, machines
		, mechanisms and/or mathematical models to solve problems.
		
		my pitch speak is simple, my goal is, to make more easy your process,
		making it less time consuming or both
		</p>
		</div>
	</main>
{% endblock %}