{% extends "Base_es.html" %}

{% block content %}
<main class="row" style="margin: auto">
		<div class="col-lg-6" style="text-align: center;">
        <svg class="bd-placeholder-img rounded-circle center" width="250" height="250" style="background-image: url('static/images/DSC05329.jpg');background-size: 350px 255px;background-position: center;background-repeat: no-repeat;"  focusable="false"><title>Placeholder</title></svg>
        </div>
		<div class="col-lg-6" style="text-align: center;">
		<h2 style="color: white">Información</h2>
        <p>
		Hola mi nombre es Richard Gómez soy ingeniero mecánico colombiano
		Con una especialización en automatización de procesos industriales,
		También he sido programador desde 2009, mi experiencia se centra en
		Proyectos de ingeniería, básicamente en la fabricación de software, máquinas.
		, mecanismos y/o modelos matemáticos para resolver problemas.

		Mi discurso es simple, mi objetivo es hacer, más fácil tu proceso,
		que tome menos tiempo en hacerse o ambos
		</p>
		</div>
	</main>
{% endblock %}